<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="eSchool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="EschoolEntities" connectionString="metadata=res://*/EschoolModel.csdl|res://*/EschoolModel.ssdl|res://*/EschoolModel.msl;provider=System.Data.SqlServerCe.4.0;provider connection string='Data Source=&quot;|DataDirectory|eschool.sdf&quot;;Password=eschool'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <applicationSettings>
    <eSchool.Properties.Settings>
      <setting name="CurrentTerm" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CurrentYear" serializeAs="String">
        <value>2017</value>
      </setting>
    </eSchool.Properties.Settings>
  </applicationSettings>
</configuration>