<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="eSchool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="EschoolEntities" connectionString="metadata=res://*/EschoolModel.csdl|res://*/EschoolModel.ssdl|res://*/EschoolModel.msl;provider=System.Data.SqlServerCe.4.0;provider connection string='Data Source=&quot;|DataDirectory|eschool.sdf&quot;;Password=eschool'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <userSettings>
    <eSchool.Properties.Settings>
      <setting name="CurrentTerm" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="CurrentYear" serializeAs="String">
        <value>2017</value>
      </setting>
      <setting name="FirstInstallUse" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OpeningBalance" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="schoolName" serializeAs="String">
        <value>eSchoolKe Secondary School</value>
      </setting>
      <setting name="schoolMotto" serializeAs="String">
        <value>Motto: Revolutionize education</value>
      </setting>
      <setting name="schoolEmail" serializeAs="String">
        <value>info@kedevelopers.com</value>
      </setting>
      <setting name="schoolAddress" serializeAs="String">
        <value>P .O BOX 123-00100 NYERI, KENYA</value>
      </setting>
      <setting name="schoolCell" serializeAs="String">
        <value>CELL NO: +21 545 6543</value>
      </setting>
      <setting name="schoolreg" serializeAs="String">
        <value>40201648</value>
      </setting>
      <setting name="schoolType" serializeAs="String">
        <value>Bording School</value>
      </setting>
    </eSchool.Properties.Settings>
  </userSettings>
</configuration>